version: "3.3"

services:
  e-commerce:
    ports:
      - 3000:3000
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/.next